---
import LegalAccordion from './LegalAccordion.tsx'
---

<section class="py-12 lg:py-24 cborder-t" id="trust">
  <div class="mx-auto w-[90%] 2xl:w-[60%]">
    <p
      class="leading-[1.5] text-lg lg:text-2xl font-semibold tracking-tight font-geist text-contrast"
    >
      Confianza
    </p>
    <h2
      class="leading-[1.1] text-2xl lg:text-3xl font-semibold tracking-tight font-geist"
    >
      Relaciones basadas en el entendimiento mutuo
    </h2>
    <p class="hidden md:block mt-4 text-xl">
      Entendemos que la confianza no se exige, se construye. Por eso, hemos
      diseñado cuidadosamente un proceso de trabajo que combina herramientas,
      buenas prácticas y acuerdos claros para asegurar la calidad de cada
      entrega, protegiendo tanto tus intereses como los nuestros.
    </p>
    <p class="md:hidden text-sm md:text-lg mt-2 md:mt-4">
      Hemos diseñado cuidadosamente un proceso de trabajo para asegurar la
      calidad de cada entrega, protegiendo tanto tus intereses como los
      nuestros.
    </p>

    <LegalAccordion client:visible />

    <p class="mt-4 md:mt-6 text-sm md:text-lg lg:text-xl mb-8">
      Siempre puedes consultar nuestros <a
        target="_blank"
        href="/legal/terms/"
        class="underline underline-offset-2 decoration-blue-500 hover:text-black dark:hover:text-white transition-colors duration-200"
        >Términos de Uso</a
      > y <a
        target="_blank"
        href="/legal/policies/"
        class="underline underline-offset-2 decoration-blue-500 hover:text-black dark:hover:text-white transition-colors duration-200"
        >Políticas de Privacidad</a
      >. Si tienes alguna pregunta, no dudes en contactarnos a través de nuestro <a
        class="underline underline-offset-2 decoration-blue-500 hover:text-black dark:hover:text-white transition-colors duration-200"
        href="/#contact">formulario</a
      >.
    </p>

    <div class="mt-6 lg:mt-12">
      <h3
        class="leading-[1.1] text-xl lg:text-2xl font-semibold tracking-tight font-geist"
      >
        Software desde Colima con alcance global
      </h3>
      <p class="mt-2 text-xl hidden md:block">
        El software bien hecho no tiene fronteras. Sin importar el sector, nicho
        o condición, todos merecen herramientas desarrolladas con la intención
        de superar las expectativas de los usuarios.
      </p>
      <p class="mt-2 md:hidden text-sm md:text-lg">
        El software bien hecho no tiene fronteras.
      </p>
      <p class="mt-2 md:hidden text-sm md:text-lg">
        Todos merecen herramientas desarrolladas con la intención de superar las
        expectativas de los usuarios.
      </p>
    </div>
  </div>
</section>
