@import "tailwindcss";
@import "tw-animate-css";

@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: 0.2s;
}


@custom-variant dark (&:is(.dark *));

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-cprimary: var(--color-cprimary);
  --color-csecondary: var(--color-csecondary);
  --color-cforeground: var(--color-cforeground);
}

@theme {
  --font-ubuntu: 'Ubuntu Sans Mono Variable', sans-serif;
  --font-geist: 'Geist Variable', sans-serif;

  --color-contrast: var(--color-contrast)
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-cprimary: white;
  --color-csecondary: #FAFAFA;
  --color-cforeground: #111827;

  --color-contrast: #155dfc;

  --scrollbar-thumb: rgba(0, 0, 0, 0.4);
  --scrollbar-track: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --color-cprimary: black;
  --color-csecondary: #111111;
  --color-cforeground: #F9FAFB;

  --color-contrast: #2b7fff;

  --scrollbar-thumb: rgba(255, 255, 255, 0.2);
  --scrollbar-track: rgba(255, 255, 255, 0.1);
}

@layer base {

  button,
  a {
    @apply border-border outline-ring/50 focus:outline-none;
  }

  body {
    @apply bg-background;
  }

  body:not([data-sonner-toast]):not([data-sonner-toast] *),
  div:not([data-sonner-toast]):not([data-sonner-toast] *),
  main:not([data-sonner-toast]):not([data-sonner-toast] *),
  header:not([data-sonner-toast]):not([data-sonner-toast] *),
  footer:not([data-sonner-toast]):not([data-sonner-toast] *),
  section:not([data-sonner-toast]):not([data-sonner-toast] *),
  aside:not([data-sonner-toast]):not([data-sonner-toast] *),
  article:not([data-sonner-toast]):not([data-sonner-toast] *),
  span:not([data-sonner-toast]):not([data-sonner-toast] *),
  a:not([data-sonner-toast]):not([data-sonner-toast] *),
  p:not([data-sonner-toast]):not([data-sonner-toast] *) {
    @apply text-zinc-800 dark:text-neutral-300;
  }

  h1:not([data-sonner-toast] *),
  h2:not([data-sonner-toast] *),
  h3:not([data-sonner-toast] *),
  h4:not([data-sonner-toast] *),
  h5:not([data-sonner-toast] *),
  h6:not([data-sonner-toast] *) {
    @apply text-black dark:text-white m-0 p-0;
  }

  h1:not([data-sonner-toast] *) {
    @apply font-geist;
  }
}

@layer components {
  .cborder {
    @apply border-[1px] rounded-sm border-zinc-800/10 dark:border-zinc-200/10;
  }

  .cborder-t {
    @apply border-t-[1px] border-zinc-800/10 dark:border-zinc-200/10;
  }

  .cborder-b {
    @apply border-b-[1px] border-zinc-800/10 dark:border-zinc-200/10;
  }

  .cborder-l {
    @apply border-l-[1px] border-zinc-800/10 dark:border-zinc-200/10;
  }

  .cborder-r {
    @apply border-r-[1px] border-zinc-800/10 dark:border-zinc-200/10;
  }

  .pressable-hover {
    @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-neutral-900;
  }
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
