---
import Letter from '@/layouts/Letter.astro'
---

<Letter
  lang="en"
  meta={{
    title: 'English Support for International Clients - Works',
    description:
      'Learn about our English support services for international customers. Clear communication and assistance for your software development projects.'
  }}
  title="International Clients"
  sub_a="Software Development & "
  sub_b="English-Speaking Support"
>
  <div>
    <p class="mt-4 text-sm md:text-lg lg:text-xl">
      Welcome! We specialize in software administration and development through
      our platform, helping businesses streamline operations, improve
      efficiency, and scale with confidence.
    </p>
    <p class="mt-4 text-sm md:text-lg xl:text-xl">
      Although our platform&apos;s graphical user interface (GUI) is currently
      available only in Spanish, we recognize the importance of supporting our
      international clients and English-speaking partners.
    </p>
    <p class="mt-4 text-sm md:text-lg lg:text-xl">
      We are fully committed to providing clear and effective communication in
      English across all essential areas of our services. This includes:
    </p>
    <ul class="mt-4 mb-8 ml-4 text-sm md:text-lg lg:text-xl">
      <li>
        - Written communication via email or private support threads within the
        platform.
      </li>
      <li>
        - Scheduled video calls for technical discussions, project planning, or
        support follow-ups.
      </li>
      <li>
        - English-language documentation or deliverables upon request, where
        applicable.
      </li>
    </ul>
    <p class="mt-4 text-sm md:text-lg lg:text-xl">
      While our internal legal and fiscal documents (such as contracts and
      invoices) follow the regulatory standards of Mexico and are generally
      issued in Spanish, we can prepare bilingual versions when necessary to
      ensure mutual understanding.
    </p>
    <p class="mt-4 text-sm md:text-lg lg:text-xl">
      If you require assistance or prefer to manage your project in English,
      please don’t hesitate to contact us. We’re happy to accommodate your needs
      and maintain smooth, professional collaboration—regardless of language or
      location.
    </p>
  </div>
  <div class="mt-8">
    <p
      class="scroll-m-20 text-lg lg:text-2xl font-semibold tracking-tight text-balance"
    >
      <span class="text-contrast">Thank you</span> for considering our services.
    </p>
    <p class="mt-4 text-sm md:text-lg lg:text-xl">
      We truly appreciate your interest and the opportunity to collaborate
      across languages and borders. If you have any questions or need further
      clarification, we’re always <a
        class="decoration-contrast underline underline-offset-2 transition-colors duration-200 hover:text-black dark:hover:text-white"
        href="/#contact"
        >here
        <span class="sr-only">go to contact us</span>
      </a> to help.
    </p>
  </div>
</Letter>
