---
import Su from '@/layouts/Su.astro'
import Breadcrumb from '@/components/shared/Breadcrumb.astro'
import SendUpdateEmailRequestForm from '@/components/shared/SendUpdateEmailRequestForm.tsx'
import { Alert, AlertDescription, AlertTitle } from '@/components/ui/alert'
import BookAlert from '@lucide/astro/icons/book-alert'
---

<Su>
  <div class="grid grid-rows-[auto_1fr] h-full">
    <div class="mb-4">
      <Breadcrumb
        items={[
          { title: 'Su', href: '/su' },
          { title: 'Correo electrónico', href: '/' }
        ]}
      />
      <h1
        class="scroll-m-20 text-left text-2xl lg:text-3xl font-extrabold tracking-tight text-balance"
      >
        Actualizar correo electrónico
      </h1>
      <div class="mt-2">
        <Alert>
          <BookAlert />
          <AlertTitle>!Atención!</AlertTitle>
          <AlertDescription>
            Para poder cambiar tu correo electrónico necesitamos verificar tu
            identidad. Después de llenar el formulario, te enviaremos un enlace
            a tu correo electrónico actual para que confirmes la modificación.
          </AlertDescription>
        </Alert>
      </div>
    </div>
    <SendUpdateEmailRequestForm client:load />
  </div>
</Su>
