---
import { BadResponseError } from '@/lib/errors'
import Platform from '@/layouts/Platform.astro'
import Plus from '@lucide/astro/icons/plus'
import Breadcrumb from '@/components/shared/Breadcrumb.astro'
import Arrows from '@lucide/astro/icons/arrow-left-right'
import SecretsList from '@/components/su/SecretsList'
import { validateCookies } from '@/lib/server'
import type { Secret } from '@/lib/types'

export const prerender = false
if (!validateCookies(Astro.cookies))
  return Astro.redirect('/account/login', 307)

const { searchParams } = Astro.url
const sent = searchParams.get('sent') === '1'

let secrets: Array<Secret> = []
let key: undefined | string

try {
  const res = await fetch(
    `${import.meta.env.API_URL}/users/me/secrets${!sent ? '?as_receiver=1' : ''}`,
    {
      headers: {
        Cookie: Astro.request.headers.get('cookie') || '',
        'Content-Type': 'application/json'
      }
    }
  )

  if (!res.ok) throw new BadResponseError(res)

  const newCookies = res.headers.get('Set-Cookie')
  if (newCookies) {
    Astro.response.headers.set('Set-Cookie', newCookies)
  }

  const data = await res.json()
  secrets = data.secrets
  key = data.key
} catch {
  return Astro.redirect('/error', 307)
}
---

<Platform server>
  <div class="grid grid-rows-[auto_1fr] gap-2 h-full">
    <div>
      <Breadcrumb
        items={[
          { title: 'Plataforma', href: '/platform' },
          { title: 'Credenciales', href: '' }
        ]}
      />
      <div class="flex justify-between items-end">
        <span class="mt-2 inline-flex items-baseline gap-2">
          <h1
            class="scroll-m-20 text-left text-2xl lg:text-3xl font-extrabold tracking-tight"
          >
            Credenciales
          </h1>
          {
            sent ? (
              <a
                href={`/platform/secrets`}
                class="opacity-85 hover:underline underline-offset-2 inline-flex items-center gap-2"
              >
                <Arrows class="w-4 h-4" />
                <p>Mostrar recibidas</p>
              </a>
            ) : (
              <a
                href={`/platform/secrets?sent=1`}
                class="opacity-85 hover:underline underline-offset-2 inline-flex items-center gap-2"
              >
                <Arrows class="w-4 h-4" />
                <p>Mostrar enviadas</p>
              </a>
            )
          }
        </span>
        {
          key !== undefined && (
            <>
              <button
                id="add-secret"
                class="inline-flex gap-1 items-center hover:opacity-80 transition-opacity duration-200"
              >
                <Plus class="size-4 text-contrast" />
                <p>Agregar entrada</p>
              </button>
              <script is:inline>
                const btn = document.getElementById('add-secret');if (btn)
                {btn.addEventListener('click', () => {
                  document.dispatchEvent(
                    new CustomEvent('show-add-secret-form')
                  )
                })}
              </script>
            </>
          )
        }
      </div>
    </div>
    <SecretsList sent={sent} secrets={secrets} publicKey={key} client:load />
  </div>
</Platform>
