---
import Basehead from '@/components/shared/Basehead.astro'
---

<!doctype html>
<html lang="es">
  <head>
    <Basehead
      title="Servicios de software desde Colima México - Works"
      description="Diseño de páginas web, desarrollo para escritorio, ios y android. Software profesional y confiable enfocado en tu negocio desde Colima."
    />
  </head>
  <body id="home">
    <slot />
  </body>
</html>
